<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-slide>
    <video class="video-fluid" autoplay muted loop [src] = "videoDisplayed" #videoPlayer>
    </video>
  </mdb-slide>
</mdb-carousel>
<!--Carousel Wrapper-->
<!--Panel-->
<div class="card mute-sound">
  <div class="card-header deep-orange lighten-1 white-text">
    <strong>Bienvenue sur notre générateur de vidéo</strong>
  </div>
  <div class="card-body">
    <p class="card-text">Je vous conseille vivement de couper votre son au plus vite, vous pouvez devenir fou en <strong>7 minutes et 38 secondes . </strong></p>
  </div>
</div>
<!--/.Panel-->

<button type="button" class="fixed-action-btn btn btn-deep-orange waves-light" (click)="form.show()" mdbRippleRadius><i class="fa fa-plus"></i></button>
<!--Modal: Contact form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <form class="modal-content">
      <!--Header-->
      <div class="modal-header deep-orange darken-3 white-text">
        <h4 class="title"><i class="fa fa-film"></i>Ajouter une variante</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="form-add">
        <div class="form-group">
          <p class="color-label">Vidéo obligatoire:</p>
          <div class="form-check form-check-inline">
              Flute MAN
              <img class="thumbnails" src="http://localhost:4300/thumbnails/mandatory-thumbnailv1.jpg"/>
          </div>
        </div>
        <div class="form-group">
          <label class="color-label" for="exampleFormControlSelect1">Vidéos alternatives:</label>
          <select [(ngModel)]="alternatives" (ngModelChange)="updateThumbnail($event)" name="alternatives" class="form-control" id="exampleFormControlSelect1">
            <option value="fonte">Cool 3D World</option>
            <option value="guinea_pig">Guinea Pig</option>
          </select>
          <img class="thumbnails" [src] = "srcAlternatives"/>
        </div>
        <div class="form-group">
          <p class="color-label">Vidéos optionnels:</p>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input [(ngModel)]="optionnal" name="optionnal" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="nice_peace"> Live Peace
            </label>
          </div>
          <img class="thumbnails" src="http://localhost:4300/thumbnails/optional-thumbnailv2.jpg"/>
        </div>
        <button (click)="addVariante()"class="btn btn-deep-orange center-block btn-submit">Ajouter cette variante</button>
      </div>
    </form>
  </div>

  <!--/.Content-->
</div>
<!--Modal: Contact form-->
